import React from "react";
import type { {{pascalCase name}}Props } from "./{{pascalCase name}}.types";

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  console.log("{{pascalCase name}} props:", props);
  return <div className="container">{{pascalCase name}}</div>;
}
